

html,body{
    margin: 0;
    padding: 0;
    background: #EBEBEB;
    text-align: center;
    font-family: Trebuchet MS;
}

#bloqueioPagina{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    margin: 0;
    width: 100%;
    z-index: 150;
    display: none;
    background: rgba(0,0,0,0.5);
}

header{
    width: 100%;
    height: 80px;
    background: #FF3264;
    padding: 0;
    position: relative;
    margin: 0;
    top: 0;
    display: block;
}

.logoCabecalho{
    position:absolute;
    height: 120px;
    top: 20px;
    left:20px;
    transition: 150ms;
}

.logoCabecalhoReduzido{
    height: 60px;
    top: 10px;
    left: 10px;
    transition: 150ms;
}

.logoCabecalhoTexto{
    position:absolute;
    top: 30px;
    left: 150px;
    height: 40px;
    transition: 150ms;
}

.logoCabecalhoTextoReduzido{
    height: 30px;
    left: 80px;
    top: 25px;
}

menu{
    margin: 0;
    padding: 0;
    height: auto;
}

#menu-cabecalho{
    margin: 10px 20px 0 0;
    width: auto;
    height: 70px;
    float: right;
    font-size: 16pt;
    visibility: visible;
    transition: 150ms;
}

.menu-cabecalhoMaior{
    font-size: 20pt !important;
    transition: 150ms;
}

#menu-cabecalho .menuItem{
    float:left;
    max-width: 137px;
}

.menu-cabecalhoMaior .menuItem{
    max-width: 156px;
}

.menuDropdown{
    width: 210px;
    height: 0px;
    margin: 0 0 0 -15px;
    padding: 0;
    opacity: 0;
    background-image:url(../img/menu_dropdown.png);
    background-size: 250px;
    transition: 300ms;
    display: block;
    position:relative;
    top:-10px;
    overflow: hidden;
    z-index:100;
}

.menuDropdownVisivel{
    top: 5px;
    height: 180px;
    padding: 15px 0;
    opacity: 1;
    visibility: visible;
    transition: 300ms;
}


#menu-cabecalho a{
    float: left;
    display: block;
    color:#ECECEC;
    text-decoration: none;
}

#menu-cabecalho .menuLink{
    text-align: center;
    border: solid;
    border-width: 0;
    border-color:#4C4B4B;
    float: left;
    margin: 0;
    padding: 0 25px 14px 25px;
    height: 55px;
    line-height: 85px;
    transition: 150ms;
}

#menu-cabecalho .menuLink:hover{
    transition: 150ms;
    padding: 0 25px 7px 25px;
    border-width: 0 0 8px 0;
    color:#4C4B4B !important;
}

.menuDropdown a{
    padding: 6px 15px;
    width: 100%;
    margin: 0;
    font-size: 0.8em;
    text-align: left;
    transition:200ms;
    color:#4C4B4B !important;
}

.menuDropdown a:hover{
    color:#ECECEC !important;
    transition:200ms;
}

.menu-compacto-trigger{
    padding: 10px;
    margin: 40px 0 0 210px;
    font-size: 14pt;
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 200;
    transition: 150ms;
    display: none;
}

.menu-compacto-trigger img{
    margin: 0;
    transition: 150ms;
}

.menuCompactoTriggerAtivo{
    background: #FF3264;
    transition: 150ms;
}

.menuCompactoTriggerAtivo img{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transition: 150ms;
}

#menu-compacto{
    position: absolute;
    background: #FF3264;
    top: 80px;
    right: 0;
    height: 600px;
    margin: 0 !important;
    padding: 0;
    display: block;
    width: 0;
    z-index: 200;
    text-align: right;
    transition: 150ms;
    display: none
}

.menuCompactoVisivel{
    width: 250px !important;
    transition: 150ms;
}

#menu-compacto a{
    font-size: 14pt;
    padding: 10px;
    display: block;
    color: #EBEBEB;
    text-decoration: none;
    text-align: right;
    transition: 150ms;
}

#menu-compacto a:hover{
    color: #4C4B4B;
    transition: 150ms;
}

#menu-compacto .subMenu{
    background: rgba(0,0,0,0.1);
    display: none;
}

main{
    min-height: calc(100% - 168px);
    position:relative;
    height:auto;
    margin: 0 auto;
    top: 55px;
    overflow:hidden;
}

footer{
    background: #4C4B4B;
    height: 88px;
    width: 100%;
    margin: 50px 0 0 0;
    transition: 300ms;
}

#media{
    height: 58px;
    width: 450px;
    margin: 0 auto;
    transition: 300ms;
}

#media img{
    width: 30px;
    transition: 300ms;
}

.logoRodape{
    height: 30px;
    width: auto !important;
    float: left;
    transition: 300ms;
}

.rodapeReduzido{
    height: 200px;
    transition: 300ms;
}

.rodapeReduzido #media{
    height: 100px;
    width: 250px;
    transition: 300ms;
}

.rodapeReduzido .logoRodape{
    float: none;
    margin: 20px auto;
    padding: 0 50px;
    transition: 300ms;
}

.rodapeReduzido a{
    margin: 0 26px !important;
    transition: 300ms;
}

#media a, .logoRodape{
    margin: 14px 26px;
}

#media a{
    display: block;
    float: left;
    height: 30px;
    width: 30px;
}

#media a img:last-child{
    width: 0;
    margin: 0;
    visibility: hidden;
}

#media a:hover img:first-child{
    width: 0;
    margin: 0;
    visibility: hidden;
}

#media a:hover img:last-child{
    visibility: visible;
    width:30px;
    position: relative;
    top: -19px;
}

#copyright{
    height: 25px;
    width: auto;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    color: #ECECEC;
    font-size: 12pt;
    transition: 300ms;
}

.rodapeReduzido #copyright{
    margin: 20px auto;
    transition: 300ms;
}

.conteudo{
    width: calc(100% - 40px);
    margin: 0 20px;
    float: left;
    min-height: 500px;
    height:auto;
}

.conteudoTituloPerna{
    background: url(../img/container-seta.png);
    height: 20px;
    width: 120px;
    margin: 10px 0 0 0px;
}

.conteudoTitulo{
    background:#4C4B4B;
    padding: 30px 0;
    width: 100%;
    margin-bottom: 20px;
    float: left;
    display: inline-block;
    line-height: 10px;
    font-size: 0.7em;
    font-weight: bold;
    position:relative;
    z-index:0;
    color:#ECECEC;
    transition: 150ms;
}

.sobre .conteudoTitulo{
    width: 70%;
}
.sobre .conteudoMeio p{
    width: 70%;
}



.sobre .conteudoMeio img{
    width: 25%;
    border-radius: 50%;
    margin: 20px;
    float: right;
}

.conteudoTitulo p{
    padding: 20px 0;
}

.apresentacao{
    width: fit-content;
    padding: 20px 20px 0px 0;
}
.apresentacao img{
    border-radius:50%;
    float: left;
    margin: 0 20px;
    transition: 150ms;
}

.apresentacao p{
    float:left;
    font-size:0.55em;
    line-height: normal;
    font-weight: normal;
    text-align: left;
    transition: 150ms;
}

.conteudoTituloReduzido{
    margin: 0;
    padding: 20px 0;
    width: 100%;
    transition: 150ms;
}

.apresentacaoReduzida img{
    margin: auto;
    float: none;
    width: 100%;
    transition: 150ms;
}

.apresentacaoReduzida p{
    text-align: center;
    float: none;
    margin: 10px 0;
    padding: 0;
    transition: 150ms;
}

.controlButtons{
    float: left;
    width: 100%;
    font-size:0.5em;
}

.controlButtons a{
    float:left;
    display: block;
    background:#CCC;
    color: #4c4b4b;
    text-decoration: none;
    width:auto;
    height: 15px;
    margin-top:2px;
    padding:5px 15px;
    border-radius: 20px;
    margin: 5px;
    font-weight: bold;
    position:relative;
    font-size:0.7em;
}
.controlButtons a:hover{
    background:#FF3264;
    color: #ececec;
}

.conteudoMeio{
    float:left;
    width: 100%
}

.conteudoMeio h1{
    float:left;
    width:100%;
    margin: 10px 0;
    font-size: 0.6em;
    font-weight: bold;
    text-align:left;
    color:#FF3264;
}

.conteudoMeio p{
    text-align: justify;
    font-size: 0.4em;
    color: #4C4B4B;
    width: 100%;
    float:left;
}


.conteudoMeio img{
    float:none;
    margin-bottom:5%;
    width: 100%;
}


/*formulário */

form{
    width:500px;
    margin: auto;
}

form input, textarea{
    width:100%;
    height: 30px;
    margin-bottom: 10px;
    background: rgba(255,50,100,0.3);
    border: none;
    border-radius: 10px;
}

form label{
    color:#FF3264;
    font-weight: bold;
    text-align: left;
    float: left;
    margin-bottom: -20px;
    font-size: 0.6em;
}

form textarea{
    height: 300px;
    resize: none;
}
form a{
    background:#FF3264 !important;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 0.4em;
    color: #fff;
    float: right;
    border-radius: 10px;
}


.disciplina{
    background: #FF3264;
    width: 30%;
    border-radius: 50%;
    font-size: 20px;
    min-width: 250px;
    margin:  1.666%;
    float: left;
}

.disciplina a{
    margin: 0;
    float: left;
    text-decoration: none;
}

.disciplinaTexto{
    -webkit-filter: blur(20px);
    position: relative;
    height: fit-content;
    top: -107.06%;
    color:#ECECEC;
    z-index: 0;
    transition: 300ms;
    transition-timing-function: ease;
}

.disciplina a:hover .disciplinaTexto{
    -webkit-filter: blur(0px);
    transition: 300ms;
    transition-timing-function: ease;
}

.disciplina img{
    position: relative;
    opacity: 1;
    z-index: 10;
    transition: 300ms;
    border-radius:50%;
}

.disciplina a:hover img{
    -webkit-filter: blur(20px);
    opacity:0;
    transition: 300ms;
    transition-timing-function: ease;
}

.download{
    float: left;
    width: 100%
}

.download a{
    float:left;
    display: block;
    background: #FF3264;
    color: #ECECEC;
    text-decoration: none;
    width:auto;
    height: 20px;
    margin-top:2px;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 5px;
    font-weight: bold;
    position:relative;
    font-size: 0.4em;
}
.download a:hover{
    background:#4c4b4b;
}
iframe { 
max-width: 800px; 
min-width: 400px; 
}

.clear{
    clear:both;
}
