/nbproject/
/public/.vs/paginas/v14/.suo
/public/.vs/paginas/v14/.suo
/public/sany-porifolio.phpproj
/public/paginas.sln
/public/.vs/config/applicationhost.config
/.vs/sany-portifolio/v14/.suo
/sany-portifolio.phpproj
/sany-portifolio.sln
/.vs/config/applicationhost.config
